
.title_container{
   margin : 0 auto;
   
}

.text{
  font-Size: 30px;
  font:bolder;
  text-align: center;
  padding-top: 20px;
  
}


.text_hover:hover{
  background-color:#E1FAFA;
  transition:0.1s;
  cursor: pointer;
  
 
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

table {
    width: 100%;
  }
  
 
  .container{
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 10px;
  }

  
 
  
