


<div class="title_Container"><h1 class="text">{{name}}</h1></div>

  <div style="margin-top: 10px;">
    
   
    <section class="example-container mat-elevation-z8" tabindex="0">
      <table mat-table [dataSource]="data">
    
        <!-- stock Column -->
        <ng-container matColumnDef="stock">
          <th mat-header-cell *matHeaderCellDef> Stock </th>
          <td mat-cell *matCellDef="let element"> {{name}} </td>
        </ng-container>
    
        <!-- date Column -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Date </th>
          <td mat-cell *matCellDef="let element"> {{element.date}} </td>
        </ng-container>
    
        <!-- value Column -->
        <ng-container matColumnDef="value">
          <th mat-header-cell *matHeaderCellDef> Value </th>
          <td mat-cell *matCellDef="let element"> {{element.value}} </td>
        </ng-container>
    
      
        <tr mat-header-row *matHeaderRowDef="disColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: disColumns;"></tr>
      </table>
    </section>
        
  </div>


<div style="margin-top : 20px;">
  <button mat-raised-button class="btn" color="accent"  (click)="ExportJsonFile(stock_id)">Export File</button>
</div>

<div class="space"></div>