.example-container {
  height: 400px;
  overflow: auto;
}

table {
  width: 100%;
}

.text{
  font-size: 30px;
  font:bolder;
  text-align: center;
  padding-top: 30px;
  
}




.btn{
  display: flex;
   float: right;
   padding-left: 25px;
   padding-right: 25px;
 
 }
 
 .space{
  margin-top: 30px;
  padding-bottom: 30px;
  width: 1200px;
  border: transparent;
  border: 1px;

}

